.paw{
    padding: 10px;
    margin: 10px;
  }
  .nav-link{
    padding: 5px;
    margin: 5px;

  }
  .navbar-brand{
    font-size: 30px;
  }
  .hidden{
    display: none
  }
  /* .home-pic {
    background: url("dogquestion.jpg");
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
  } */