.paw{
    padding: 10px;
    margin: 10px;
  }
  .nav-link{
    padding: 5px;
    margin: 5px;

  }
  .navbar-brand{
    font-size: 30px;
  }

  body{
    background-image:url("pawprintBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
  }

  .card{
    margin-left: 20%;
  }
  #mainTitle{
    color: chartreuse;
  }
  #intro{
    font-family: 'Knewave', cursive;
    color: firebrick;
  }